PORT=3003

#https://stripe.com/
STRIPE_SECRET=dassadsa54654654654dasda654645

STRIPE_SUCCESS_URL=http://localhost:3000/api/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/api/payments/cancel

# https://dashboard.stripe.com/acct_1S8mca409GLCmqJW/test/webhooks
# Este es el signin secret de Stripe
STRIPE_ENDPOINT_SECRET=whsec_DiYoIvCd3zpX3hy3Cd0gLwsRFoteLZCd
